:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 100%, 70%);
  --complimentary1: hsl(var(--hue-complimentary1), 100%, 70%);
  --complimentary2: hsl(var(--hue-complimentary2), 100%, 70%);
  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  min-height: 100vh;
  padding: 2rem;
  color: var(--dark-color);
  background: var(--bg-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}
.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.text-gradient {
  background-image: linear-gradient(
    45deg,
    var(--base) ,
    var(--complimentary2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  filter: drop-shadow(0 0 5px #fff);
}
a {
  text-decoration: none;
  color: var(--dark-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: Minecraft;
  src: url(./assets/fonts/MinecraftRegular.otf);
}
@font-face {
  font-family: MinecraftBold;
  src: url(./assets/fonts/MinecraftBold.otf);
}
@font-face {
  font-family: MinecraftItalic;
  src: url(./assets/fonts/MinecraftItalic.otf);
}
@font-face {
  font-family: MinecraftBoldItalic;
  src: url(./assets/fonts/MinecraftBoldItalic.otf);
}
@font-face {
  font-family: MontserratLight;
  src: url(assets/fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: MontserratBold;
  src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: MontserratRegular;
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
font-family: MontserratSemiBold;
src: url(assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype');
font-weight: 600;
}
@font-face {
font-family: MontserratExtraBold;
src: url(assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format('truetype');
font-weight: 800;
}
@font-face {
font-family: MontserratExtraLight;
src: url(assets/fonts/Montserrat/Montserrat-ExtraLight.ttf) format('truetype');
font-weight: 200;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  width: 90vw;
  height: 85vh;
  border-radius: 2.5rem;
}
.column1{
  flex: 30%;
  float: left;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
}
.column2{
  flex: 70%;
  float: right;
  text-align: center;
}
.output-text{
  font-family: Minecraft;
  font-size: 30px;
}
.controller{
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem;
  padding: 25px;
  text-align: center;
}
.controller h3{
  text-align: center;
  font-family: MontserratSemiBold;
  font-size: 14px;
}
.controller input{
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 30px;
  width: 200px;
  padding: 7px;
  border-radius: 100px;
  outline: none;
  border: none;
  margin: 5px 0;
  font-family: MontserratRegular;
  text-align: center;
}
.controller input.checkbox{
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0;
  width: 15px;
  height: 15px;
}
.controller label{
  font-family: MontserratLight;
  font-size: 14px;
}